/* Navbar */


body {
	font-family: 'Poppins', sans-serif;
	background-color:  #0a0f0f;
	min-height: 3000px;
	overflow-x: auto;
}

* {
	margin: 0;
	padding: 0;
}

/* Nav */

nav {
	display: flex;
	background-color: black;
	justify-content: space-evenly;
	padding: 20px 0;
	height: 50px;
	align-items: center;
}
nav .logo {
	color: white;
}
nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
}
nav ul li a {
	color: white;
	text-decoration: none;
}
nav ul li a:active {
	color: #00ffff;
}



/* Hamburger menu */

.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle span {
	width: 27px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transition: all 0.6s;
} 
.menu-toggle:active {
	color :  #00ffff;
}
.menu-toggle input {
	position: absolute;
	width: 40px;
	height: 28px;
	opacity: 0;
	left: -5px;
	top: -3px;
	cursor: pointer;
	z-index: 2;
}


/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
	transform-origin: 0 100%;
}
.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
	background-color: #00ffff;
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:last-child {
	background-color: #00ffff;
	transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
	opacity: 0;
	transform: scale(0)
}

/*  Main  */
#home {
	height: 75vh;
}
#home #row-home {
	margin-left: 9rem;
	margin-top: 5rem;
}
#home #row-home img {
	width: 300px;
}


#home #row-home h1 {
	font-size: 70px;
}
#home #row-home h6 {
	font-size: 30px;
}
/* About */
#about {
	margin-bottom: 2.5rem;
}
#about #row-about {
	display: flex;
}
#about #row-about #col-img-about img {
	width: 500px;
	height: 300px;
	object-fit: cover;
	object-position: 0 -170px;
	margin-left: 23rem;
}
#about #row-about #col-text-about h4 {
	font-size: 35px;
	padding-bottom: 1rem;
}
#about #row-about #col-text-about {
	padding: 2rem;
}
#about #row-about #col-text-about p {
	
	font-size: 20px;
}

/* Project */
#project h2,
#certificate h2 {
	font-size: 30px;
}
#project .row-project .menu-card-image {
	margin-bottom: 1rem;
}
#project,
#certificate {
	margin-bottom: 4.5rem;
}
#project h2,
#certificate h2 {
	padding-bottom: 2rem;
}

#project .row-project,
#certificate .row-certificate {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	text-align: center;
}
/* Contact */
#contact form {
	padding: 5rem 2rem;
}
#contact form .input-group {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#contact form .input-group input {
	width: 80%;
	height: 60px;
	margin-bottom: 2rem;
	background-color: black;
	border: 2px solid #00ffff;
	color: black;
	padding-left: 2rem;
}
#contact form .input-group .textarea {
	height: 80px;
}
/* Footer */
footer {
	background-color: #00ffff;
	text-align: center;
	padding: 1rem 0 3rem;
	margin-top: 3rem;
}
footer .social {
	padding: 1rem 0;

}
footer .social a {
	color: black;
	margin: 1rem;
}
footer .social a:hover,
footer .links a:hover {
	color: #0a0f0f;
}
footer .links {
	margin-bottom: 1.5rem;
}
footer .links a {
	color: black;
	padding: 0.7rem 1rem;
}
footer .credit {
	font-size: 0.6rem;
}
footer .credit a {
	color: black;
	font-weight: 700;
}











/*  Laptop */

/*@media screen and ( max-width: 968px ) {
	#home #row-home {
		margin-left: 1.8rem;
		margin-right: 90px;
	}
	#home #row-home h1,
	#home #row-home span {
		font-size: 50px;
	}
	#home #row-home img {
		width: 300px;
	}
}*/

/*  Tablet */

@media screen and ( max-width: 768px ) {
	html {
		font-size: 80%;
	}

	nav ul {
		width: 50%;
	}
	/*#home #row-home {
		padding-left: 25px;
	}
	#home #row-home h1,
	#home #row-home span {
		font-size: 60px;
	}

	#about #row-about #col-img-about {
		padding-left: 5rem;
	}
	#about #row-about #col-img-about img {
		width: 400px;
		height: 300px;
		object-fit: cover;
		object-position: 0 -90px;
	}
	#about #row-about p {
		font-size: 20px;
	}
	#project .row-project .project-image img {
		width: 200px;
	}*/
	#project .row-project,
	#certificate .row-certificate {
		flex-wrap: wrap;
	}

}

/* Mobile */

@media screen and ( max-width : 580px ) {
	nav {
		padding: 0 23px;
		justify-content: space-between;
		position: relative;
		
	}
	nav ul {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		width: 100vw;
		height: 20vh;
		justify-content: space-evenly;
		flex-direction: column;
		background-color: black;
		align-items: center;
		z-index: 1;
		transform: translateX(100%);
		transition: all 1s;
		opacity: 0;
		margin-right: 47rem;
		margin-top: 50px;
	}
	nav ul.active {
		right: 0;
	}
	.menu-toggle {
		display: flex;
		margin-right: 30px;
	}

	nav ul.slide {
		opacity: 1;		
	}
	body #home {
		margin-bottom: 90px;
	}
	#home #row-home {
		margin-top: 5rem;
		margin-left: 80px;
	}
	#home #row-home h1,
	#home #row-home span {
		font-size: 70px;
	}
	#home #row-home img {
		width: 400px;
	}
	#about h1 {
		font-size: 40px;
	}
	#about #row-about #col-img-about img {
		width: 80%;
		height: 80%;
		object-fit: cover;
		object-position: 0 -85px;
		margin-left: 40px;

	}
	#about #row-about #col-text-about h4 {
		padding: 2rem;
	}
	#about #row-about #col-text-about p {
		font-size: 25px;
		padding: 2.8rem;
	}
}

