::root {   
	flex: 1 1 45rem;
	padding: 5rem 2rem;
	text-align: center;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color:  #0a0f0f;
	min-height: 3000px;
}
* {
	font-family: 'Poppins', sans-serif; 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1.5rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid var(--primary);
	background-color: rgba(0, 0, 0,.3);
	z-index: 9999;
}
.navbar .logo {
	color: white;
	font-size: 1.3rem;
	font-style: italic;
}
.navbar .navbar-nav a {
	color: #fff;
	display: inline-block;
	font-size: 1rem;
	margin: 0.2rem;
}
.navbar .navbar-nav a:hover {
	color: #00ffff;
}
.navbar .navbar-nav a::after {
	content: '';
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid var(--primary) ;
	transform: scaleX(0);
	transition: 0.4s linear;
}
.navbar .navbar-nav a:hover::after {
	transform: scaleX(0.5);
}
/* Hamburger Menu */

.navbar-extra {
	display: none;
}
/* Head Section */
main {
	color: #fff;
}
.head {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5rem 2rem;
}
.text-head {
	padding-top: 3.5rem;
	padding-left: 1rem;
	line-height: 1.3;
}
/* About */

.about {
	padding: 8rem 7% 1.4rem;
}
.about h2 {
	text-align: center;
	font-size: 2.6rem;
	margin-bottom: 3rem;
	color: white;
}
.about .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about .row img {
	width: 50%;
	flex: 1 1 45rem;
}
.about .row .about-desc {
	flex: 1 1 35rem;
	padding-top: 2rem;
} 
.about .row .about-desc h3 {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 1rem;
}
.about .row .about-desc p,
 {
	font-size: 1.4rem;
	color: white;
	font-weight: 160;
	line-height: 1.6;
}

/* Project */
.project h2,
.contact h2 {
	text-align: center;
	font-size: 2.6rem;
	margin-bottom: 3rem;
	color: white;
}
.project,
.contact {
	padding: 8rem 7% 1.4rem;
}
.project h2,
.contact h2 {
	margin-bottom: 1rem;
}
.project a {
	color: white;
	text-align: center;
	max-width: 30rem;
	margin: auto;
	font-size: 1.2rem;
	line-height: 1.6;
	padding-bottom: 1rem;
}
.project .row {
	display: flex;
	margin-top: 5rem;
	justify-content: center;
}
.project .row .menu-card {
	text-align: center;
	font-size: 1.8rem;
	padding-bottom: 2rem;
}
.project .row .menu-card h3 {
	color: white;
	font-size: 1.2rem;
}
.project .row .menu-card img {
	width: 85%;
	padding-bottom: 1.3rem;
}
.project .row .menu-card .menu-card-title {
	margin-top: 1.5rem auto 1.5rem;
}
.project .row .menu-card .menu-card-price {
	font-size: .9rem;
}
.project .row .menu-card a:hover {
	color: #00ffff;
}
/* Contact */
.contact form {
	flex: 1 1 20rem;
	padding: 5rem 2rem;
	text-align: center;
}
.contact form .input-group {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	background-color: black;
	border: 1px solid white;
	padding-left: 2rem;
}
.contact form .input-group  input{
	width: 80%;
	padding: 2rem;
	font-size: 1.7rem;
	background: none;
	color: white;
}
.contact form button {
	margin-top: 3rem;
	display: inline-block;
	padding: 1rem 3rem;
	font-size: 1.7rem;
	color: white;
	background-color: #00ffff;
	cursor: pointer;
}
.contact form button:hover {
	color: white;
}
/* Footer */
footer {
	background-color: #00ffff;
	text-align: center;
	padding: 1rem 0 3rem;
	margin-top: 3rem;
}
footer .social {
	padding: 1rem 0;

}
footer .social a {
	color: black;
	margin: 1rem;
}
footer .social a:hover,
footer .links a:hover {
	color: #0a0f0f;
}
footer .links {
	margin-bottom: 1.5rem;
}
footer .links a {
	color: white;
	padding: 0.7rem 1rem;
}
footer .credit {
	font-size: 0.6rem;
}
footer .credit a {
	color: black;
	font-weight: 700;
}






/* Tablet */
@media (max-width: 750px) {
	.navbar-nav {
		display: none;
	}
	.head {
		display: block;
	}
	.head main .text-head h1{
		font-size: 2rem;
	}
	.head main .text-head h2 {
		font-size: 1.5rem;
	}
	.head main .text-head p {
		font-size: 0.4rem;
	}
	.project .row {
		flex-wrap: wrap;
	}
}

/* Mobile */
@media (max-width: 450px) {
	html {
		font-size: 65%;
	}
}